img {
  width: 100%;
  height: 100%;
}

.port-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding: 60px 0;
}
div.video .info_img {
  margin: 0 50px;
}
.port-box span {
  font-weight: bold;
  width: 170px;
  display: inline-block;
}
.port-box button {
  width: 200px;
  height: 40px;
  margin-top: 18px;
  margin-right: 30px;
  border: 0;
  background-color: rgb(150, 65, 220);
  color: #fff;
  border-radius: 50px;
  padding: 3px 15px;
  transition: 0.2s;
}
.port-box button:hover {
  background-color: rgb(151, 93, 198);
}
.info_txt {
  width: 100%;
  margin: 0 30px;
}
.info_img {
  width: 100%;
  text-align: center;
}
.info_img a img {
  transition: 0.5s;
  width: 80%;
}
.info_img a img:hover {
  transform: scale(0.9);
}

.graphic-bg a img:hover {
  background: rgba(0, 0, 0, 0.8);
}
.hero-container h2 span {
  color: orange;
}
.plz {
  font-size: 20px;
}
.jihyun {
  margin-top: 30px;
  font-size: 20px;
}
#footer .copyright {
  margin-top: 50px;
}

.webButton{
  margin-right:30px;
}